.filter-wrapper {
  position: absolute;
  width: 45rem;
  border: 1px solid var(--light-bg);
  left: 0;
  margin: 1rem 0;
  padding: 1rem;
  z-index: 3;
  background-color: var(--light-bg);
  border-radius: 5px;
}

.filterLabel{
  color: var(--primary);
  background-color: var(--light);
}

.activeFilterLabel{
  background-color: var(--primary-bg);
  color: var(--light);
}

.filter-ul {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 1rem;
}
.select-wrapper{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.select-wrapper > select {
  background-color: var(--light);
}