.side-bar-wrapper {
  display: flex;
  width: 10rem;
  flex-direction: column;
  padding: 0.5rem;
  margin: 1rem;
  gap: 0.5rem;
}

.side-bar-wrapper  span:first-child{
    margin-right: 1rem;
}

.side-bar-wrapper  span{
    font-size: 1rem;
    line-height: 1.6rem;
}

.side-bar-wrapper > *{
    padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.side-bar-wrapper > *:hover{
    background-color: antiquewhite;
    color: blue;
}