.search-input-wrapper {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
}

.input-search {
  background: var(--light);
  border: 1px solid var(--light-bg);
  border-radius: 5px;
}

.input-search-icon {
  padding: 0.5rem;
  font-size: 1.1rem;
}
