.page-content {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding: 2rem 1rem;
  gap: 2rem;
}

.page-content > div:first-child {
  display: flex;
  margin: 0 auto;
  gap: 1rem;
  position: relative;
}

.sidebar-container {
  display: block;
  background: var(--dark-white-bg);
}

.res-aside {
  position: fixed;
  background: var(--dark-white-bg);
  height: 100%;
  z-index: 2;
}

@media (max-width: 1024px) {
  .sidebar-container {
    display: none;
  }
}
